.App {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

table {
  border: 1px solid black;
  margin: 20px;
}

th {
  border-bottom: 1px solid black;
  background-color: lightgray;
}

td {
  padding: 3px 15px;
}
